.app {
    overflow: hidden;
}

/* Mobile */
@media screen and (max-width: 739px) {
    :root {
        --normal-font-size: 14px
    }

    /* Mode */
    body.light-theme {
        --container-color: #fff;
        --text-color: #333;
        --text-color-light: #5e5e5e;
        --first-color: #f2f2f2;
        --border-color: #dbdbdb;
        transition: background .4s;
    }

    /* Header */
    .header {
        padding: 12px 16px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .header__top {
        display: flex;
        align-items: center;
    }

    .header__logo-img-light,
    .header__logo-img-dark,
    .header__navbar-menu-logo-img {
        height: 36px;
    }

    .header__navbar-list {
        flex: 1;
        display: flex;
        align-items: center;
        column-gap: 20px;
        justify-content: flex-end;
    }

    .header__navbar-item-icon {
        color: var(--text-color-light);
        font-size: 24px;
    }

    .header__navbar-item-account {
        height: 30px;
        width: 30px;
    }

    .header__navbar-item-account-avatar {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__bottom {
        display: flex;
        align-items: center;
        overflow-x: auto;
    }

    .header__bottom::-webkit-scrollbar {
        display: none;
    }

    .header__bottom-left-box {
        padding: 0px 8px;
        border-radius: 4px;
        background-color: var(--first-color);
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .header__navbar-menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
        display: none;
        z-index: 1;
    }

    .header__navbar-menu-overlay.show {
        display: block;
    }

    .header__navbar-menu-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 70%;
        transform: translateX(-100%);
        transition: all .3s ease;
        background-color: #222222;
        padding: 30px 0 0 20px;
        z-index: 1;
    }

    .header__navbar-menu-container.show {
        transform: translateX(0);
    }

    .header__navbar-menu-list {
        margin-top: 10px;
    }

    .header__navbar-menu-item {
        padding: 20px 0;
    }

    .header__navbar-menu-item-link {
        display: flex;
        align-items: center;
        color: var(--text-color);
    }

    .header__navbar-menu-icon {
        font-size: 24px;
        margin-right: 16px;
    }

    .header__bottom-space {
        display: inline-block;
        height: 36px;
        width: 1px;
        background-color: #2a2a2a;
        margin: 0 15px;
    }

    .header__bottom-right {
        flex: 1;
    }

    .header__bottom-right-list {
        display: flex;
        column-gap: 12px;
    }

    .header__bottom-right-item {
        height: 30px;
        padding: 0 10px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        border-radius: 40px;
        border: 1px solid var(--border-color);
        background-color: var(--first-color);
        cursor: pointer;
    }

    .header__bottom-right-item.active {
        background-color: var(--white-color);
        color: #333;
    }

    .header__navbar-devices-bottom-sheet-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
        display: none;
    }

    .header__navbar-devices-bottom-sheet-overlay.show {
        display: block;
    }

    .header__navbar-devices-bottom-sheet-container {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 16px 0;
        background-color: #222222;
        transform: translateY(100%);
        transition: all .3s ease;
        z-index: 1;
    }

    .header__navbar-devices-bottom-sheet-container.show {
        transform: translateY(0);
    }

    .header__navbar-devices-bottom-sheet-title {
        padding-left: 16px;
    }

    .header__navbar-devices-bottom-sheet-icon {
        font-size: 24px;
        margin-right: 32px;
    }

    .header__navbar-devices-bottom-sheet-list {
        margin-top: 12px;
        border-bottom: 1px solid var(--border-color);
    }

    .header__navbar-devices-bottom-sheet-item {
        display: flex;
        align-items: center;
        padding: 10px 16px;
    }

    .header__navbar-devices-bottom-sheet-close {
        display: flex;
        align-items: center;
        padding: 16px 0 0 16px;
        cursor: pointer;
    }

    .header__navbar-item-account-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: var(--container-color);
        z-index: 2;
        transition: all .3s ease;
        transform: translateY(100%);
    }

    .header__navbar-item-account-modal.open {
        transform: translateY(0);
    }

    .header__navbar-item-account-modal-close {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px 16px 32px 16px;
        cursor: pointer;
    }

    .header__navbar-item-account-modal-close-icon {
        font-size: 24px;
    }

    .header__navbar-item-account-modal-header {
        padding: 0 16px 16px 16px;
        display: flex;
        column-gap: 16px;
    }

    .header__navbar-item-account-modal-img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header__navbar-item-account-modal-info {
        flex: 1;
    }

    .header__navbar-item-account-modal-info-sub {
        margin: 2px 0 6px 0;
    }

    .header__navbar-item-account-modal-info-manager {
        color: var(--text-color-link);
    }

    .header__navbar-item-account-modal-more-icon {
        font-size: 24px;
    }

    .header__navbar-item-account-modal-list {
        border-bottom: 1px solid var(--border-color);
    }

    .header__navbar-item-account-modal-list:last-child {
        border-bottom: 1px solid transparent;
    }

    .header__navbar-item-account-modal-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 16px 0;
    }

    .header__navbar-item-account-modal-item:hover {
        background-color: var(--border-color);
    }

    .header__navbar-item-account-modal-item-icon {
        font-size: 24px;
        margin: 0 16px;
    }

    /* Body */
    .app__container-item {
        height: 250px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Bottom */
    .bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 0;
        background-color: var(--container-color);
    }

    .bottom__navigation-list {
        display: flex;
        padding: 10px 0;
    }

    .bottom__navigation-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        font-size: 14px;
    }

    .bottom__navigation-item-icon {
        font-size: 24px;
    }

    .bottom__navigation-item-add-icon {
        font-size: 36px;
    }

    .bottom__navigation-item-sub {
        font-size: 12px;
    }

    /* Setting Page */
    .setting__page {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: var(--container-color);
        transform: translateY(100%);
        transition: all .3s ease;
    }

    .setting__page.open {
        transform: translateY(0);
    }

    .setting__header {
        display: flex;
        padding: 16px 0;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
    }

    .setting__header-close-icon {
        font-size: 24px;
        margin: 0 16px;
        cursor: pointer;
    }

    .setting__body-item {
        padding: 16px;
        cursor: pointer;
    }

    .setting__body-item:hover {
        background-color: var(--border-color);
    }

    .setting__body-item-general-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: var(--container-color);
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .setting__body-item-general-modal.open {
        transform: translateX(0);
    }

    .setting__body-item-general-modal-header {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid var(--border-color);
    }

    .setting__body-item-general-modal-header-back {
        cursor: pointer;
    }

    .setting__body-item-general-modal-header-back-icon {
        font-size: 24px;
        padding: 0 16px;
    }

    .setting__body-item-general-modal-item {
        padding: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .setting__body-item-general-modal-item-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .setting__body-item-general-modal-item-control {
        position: relative;
        width: 40px;
        height: 16px;
        background-color: #575757;
        border-radius: 8px;
    }

    .setting__body-item-general-modal-item-control-move {
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #bdc0c5;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
    }

    .setting__body-item-general-modal-item-bottom,
    .setting__body-item-general-modal-item-right {
        font-size: 12px;
        color: var(--text-color-light);
        line-height: 20px;
    }

    .setting__body-item-general-modal-item-mode-modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        background-color: var(--container-color);
        z-index: 2;
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .setting__body-item-general-modal-item-mode-modal.open {
        transform: translateX(0);
    }

    .setting__body-item-general-modal-item-mode-modal-header {
        display: flex;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid var(--border-color);
    }

    .setting__body-item-general-modal-item-mode-modal-header-back-icon {
        font-size: 24px;
        padding: 0 16px;
        cursor: pointer;
    }

    .setting__body-item-general-modal-item-mode-modal-body-item {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .setting__body-item-general-modal-item-mode-modal-body-item:hover {
        background-color: var(--border-color);
    }

    .setting__body-item-general-modal-item-mode-modal-body-item-check-icon {
        font-size: 24px;
    }
}